@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Shrikhand&display=swap");
header {
  width: 100%;
  height: 4rem;
}

.headerNav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.headerNav ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  position: absolute;
  left: 0;
  top: 20px;
  margin: 0 20px;
}

.btn {
  background-color: #9356DC;
  color: white;
  padding: 20px 50px;
  border: none;
  border-radius: 30px;
  margin: 30px;
  background: linear-gradient(0deg, rgb(147, 86, 220) 4%, rgb(232, 156, 223) 100%);
  box-shadow: rgba(0, 0, 0, 0.527) 0px 8px 16px -8px;
  cursor: pointer;
  transition: transform 200ms;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: rgba(0, 0, 0, 0.596) 0px 16px 16px -8px;
  transform: scale(0.95) translateY(5px);
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  background-color: #353535;
  margin-top: -30px;
}
footer > * {
  margin: 10px 20px;
}
footer h3 {
  font-family: "Shrikhand";
  margin-top: 50px;
  font-weight: 100;
}
footer li, footer a {
  margin: 10px 0;
  color: white;
}
footer i {
  height: 20px;
  width: 20px;
}
@media screen and (min-width: 878px) {
  footer {
    flex-direction: row-reverse;
    align-items: flex-end;
    height: 114px;
  }
  footer ul {
    display: flex;
    flex-direction: row;
  }
  footer li {
    margin: 5px 20px;
  }
}

@keyframes animeHeart {
  80% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animeLoader {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}
@keyframes hideLoader {
  0% {
    display: flex;
  }
  100% {
    display: none;
  }
}
@keyframes showContent {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100vh;
  animation: hideLoader 3s forwards;
}
.loader h1 {
  font-family: "Shrikhand";
  padding-right: 6px;
  animation: animeLoader 3s;
  font-size: 10vw;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: 0.5px black;
  background-image: linear-gradient(to top, rgb(147, 86, 220) 30%, rgb(232, 156, 223) 40%, transparent 80%);
  background-size: 1% 200%;
  animation: animeLoader 3s forwards;
}
@media screen and (min-width: 878px) {
  .loader h1 {
    font-size: 150px;
  }
}

.mainIndex, .mainHeader, .mainFooter {
  animation-delay: 3s;
  animation: showContent 3s 3s backwards;
}

.geoloc {
  width: 100%;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  box-shadow: 0px 2px 15px -5px rgba(0, 0, 0, 0.46) inset;
}
.geoloc i {
  padding: 0 10px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F6F6F6;
  padding-top: 20px;
}
.main-content h1, .main-content p {
  text-align: center;
  width: 90%;
  margin: 10px 0px;
}

.functioning {
  height: auto;
  width: 100%;
  flex-direction: column;
}
.functioning h2 {
  padding: 20px;
}
@media screen and (min-width: 878px) {
  .functioning {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.functioning-content {
  width: 100%;
}
@media screen and (min-width: 878px) {
  .functioning-content {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
  }
}

.steps {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 878px) {
  .steps {
    flex-direction: row;
    width: 100%;
  }
}

.function-step {
  flex-direction: row;
  align-items: center;
  width: 90%;
  height: 72px;
  margin: 20px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.function-step:hover i {
  color: #9356DC;
}
.function-step i {
  color: gray;
}
@media screen and (min-width: 878px) {
  .function-step {
    width: 100%;
  }
}

.step-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.step-content i {
  margin: 0 20px;
}

.step {
  display: flex;
  position: relative;
  left: -10px;
  top: 25px;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

.restaurant {
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
}
.restaurant h2 {
  margin: 50px 0px 20px 35px;
}
@media screen and (min-width: 878px) {
  .restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.restaurant-content {
  width: 100%;
  margin-bottom: 50px;
}
@media screen and (min-width: 878px) {
  .restaurant-content {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 878px) {
  .cards {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.new {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 15px;
  background-color: #99E2D0;
  color: #008766;
}

figure {
  display: block;
  position: relative;
  width: 90%;
  height: 251px;
  background-color: white;
  border-radius: 20px;
  margin: 10px 0px;
}
figure img {
  border-radius: 20px 20px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 75%;
  width: 100%;
}
@media screen and (min-width: 878px) {
  figure {
    width: 40%;
  }
}

.heartButtonIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  background-color: white;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
}
.heartButtonIndex input {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 63px;
  height: 63px;
  cursor: pointer;
}
.heartButtonIndex input[type=checkbox] ~ i {
  height: 63px;
  width: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heartButtonIndex input[type=checkbox]:checked ~ i {
  animation: animeHeart 0.2s;
  -webkit-text-fill-color: #9356DC;
  -webkit-text-stroke: 0px;
}

figcaption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20%;
  align-items: center;
}
figcaption h3, figcaption p {
  margin: 0px 20px;
}
figcaption h3 {
  font-weight: bolder;
}
figcaption p {
  font-weight: 100;
}

.img-bg-shop {
  box-shadow: 0px 2px 15px -5px rgba(0, 0, 0, 0.46) inset;
  max-height: 383px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -30px;
  border-radius: 20px 20px 0px 0px;
  background-color: #F6F6F6;
  max-width: 1055px;
  width: 100%;
}

.menu-header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 30px;
}
.menu-header h1 {
  font-family: "Shrikhand";
  font-weight: 300;
}

.heartButtonShop {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
}
.heartButtonShop input {
  position: absolute;
  opacity: 0;
  width: 63px;
  height: 63px;
  cursor: pointer;
}
.heartButtonShop input[type=checkbox] ~ i {
  height: 63px;
  width: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heartButtonShop input[type=checkbox]:checked ~ i {
  animation: animeHeart 0.2s backwards;
  -webkit-text-fill-color: #9356DC;
  -webkit-text-stroke: 0px;
}

.menu-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
}
.menu-card h2 {
  font-size: medium;
}

.fieldset {
  border: none;
  width: 95%;
  max-width: 634px;
}
.fieldset h2 {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  margin: 30px 0;
  font-weight: 100;
}
.fieldset h2::after {
  content: " ";
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
}

.mini-card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  margin: 10px 0px;
  box-shadow: 0px 2px 15px -5px rgba(0, 0, 0, 0.46);
  overflow: hidden;
}
.mini-card div {
  position: relative;
  padding: 10px;
}
.mini-card div h3, .mini-card div p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 85%;
}
.mini-card div span {
  position: absolute;
  bottom: 10px;
  right: 0px;
}
.mini-card .content-card {
  width: 100%;
}
.mini-card:hover .checked {
  transition-timing-function: cubic-bezier(0.57, 0.56, 0, 0.83);
  transform: translateX(-59px);
  display: flex;
  width: 59px;
}
.mini-card:hover span {
  display: none;
}

.checked {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  width: 0px;
  background-color: #99E2D0;
  right: -59px;
  transition: transform 400ms;
}
.checked .fa-circle-check {
  color: white;
}

* {
  margin: 0;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}/*# sourceMappingURL=main.css.map */