//Heart animation
@keyframes  animeHeart{
    0%{
    }
    80%{
        transform: scale(1.15);
    }
    100%{
        transform: scale(1);
    }
};
//Loader Animation
@keyframes animeLoader{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 100%;
    }
};
// Hidding Loader
@keyframes hideLoader{
    0%{
        display: flex;
    }
    100%{
        display: none;
    }
};
// Showing content
@keyframes showContent{
    0%{
        display: none;
        opacity: 0;
    }
    100%{
        display: flex;
        opacity: 1;
    }
};