//Heart animation
@keyframes  animeHeart{
    0%{
    }
    80%{
        transform: scale(1.15);
    }
    100%{
        transform: scale(1);
    }
};
//Loader Animation
@keyframes animeLoader{
    0%{
        background-image: linear-gradient(
            #ffffff 90%,
            #9356DC 10%,
        );
    }
    10%{
        background-image: linear-gradient(
            #ffffff 80%,
            #9356DC 20%,
        );
    }
    30%{
        background-image: linear-gradient(
            #ffffff 70%,
            #9356DC 30%,
        );
    }
    50%{
        background-image: linear-gradient(
            #ffffff 50%,
            #9356DC 50%,
        );
    }
    70%{
        background-image: linear-gradient(
            #ffffff 30%,
            #9356DC 70%,
        );
    }
    80%{
        background-image: linear-gradient(
            #ffffff 20%,
            #9356DC 80%,
        );
    }
    90%{
        background-image: linear-gradient(
            #ffffff 10%,
            #9356DC 90%,
        );
    }
    100%{
        background-image: linear-gradient(
            #ffffff 0%,
            #9356DC 100%,
        );
    }
};
// Hidding Loader
@keyframes hideLoader{
    0%{
        display: flex;
    }
    100%{
        display: none;
    }
};
// Showing content
@keyframes showContent{
    0%{
        display: none;
        opacity: 0;
    }
    100%{
        display: flex;
        opacity: 1;
    }
};