
@import '../utils/variables';
//style index
main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

//header hero
.geoloc{
    width: 100%;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $third-backgroundColor;
    box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.46) inset;
    i{
        padding: 0 10px;
    }
}
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $secondary-backgroundColor;
    padding-top: 20px;
    h1, p{
        text-align: center;
        width: 90%;
        margin: 10px 0px;
    }
}
//Fonctionnement
.functioning{
    height: auto;
    width: 100%;;
    flex-direction: column;
    h2{
        padding: 20px;
    }
}
.steps{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    @media screen and (min-width: 700px ){
        flex-direction:row;
        justify-content: space-around;
    }
}
.function-step{
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 72px;
    margin: 10px;
    background-color: $secondary-backgroundColor;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    &:hover{
        i{
            color: $hoverFontColor;
        }
    }
    i{
        color:gray;
    }
    @media screen and (min-width: 700px ){
        width: 30%;
    }
}
.step-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    i{
        margin: 0 20px;
    }
}
.step{
    display: flex;
    position: relative;
    left: -10px;
    top: 25px;
    justify-content: center;
    align-items: center;
    background-color: $hoverFontColor;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 25px;
}
//Restaurant
.restaurant{
    width: 100%;
    height: 100%;
    background-color: $secondary-backgroundColor;
    margin-bottom: 50px;
    h2{
        margin: 50px 0px 20px 35px;
    }
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 700px ){
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
.new{
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 15px;
    background-color: #99E2D0;
    color: #008766;
}
figure{
    display: block;
    position: relative;
    width: 90%;
    height: 251px;
    background-color: white;
    border-radius:20px;
    margin: 10px 0px;
    img{
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
        height: 75% ;
        width: 100%;
    }
    a:visited{
        .new{
            display: none;
        }
    }
    @media screen and (min-width: 700px ){
        width: 40%;
    }
}
figcaption{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
    align-items: center;
    h3, p{
        margin: 0px 20px;
    }
    h3{
        font-weight: bolder;
    }
    p{
        font-weight: 100;
    }
}
