@import '../utils/variables';

.btn{
    background-color: $hoverFontColor;
    color: white;
    padding: 20px 50px;
    border: none;
    border-radius: 30px;
    margin: 30px;
    background: linear-gradient(0deg, rgba(147,86,220,1) 4%, rgba(232,156,223,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.527) 0px 8px 16px -8px;
    cursor: pointer;
    transition: transform 200ms;
    &:hover{
        opacity: 0.80;
        box-shadow: rgba(0, 0, 0, 0.596) 0px 16px 16px -8px;
        transform :scale(0.95) translateY(5px);
    }
}
.heartButton{
    border: none;
    border-radius: 0 0 20px 0;
    height: 63px;
    width: 63px;
    -webkit-text-stroke: 2px black;
    color: white;
    &:active{
        -webkit-text-fill-color: $hoverFontColor ;
        -webkit-text-stroke: 1px $hoverFontColor;
    }
}